

body, * {
  box-sizing: border-box;
}

.testing {
  width: percentage(1/7);
}

.clearfix {
  /* Clearfix */
  overflow: hidden;
  display: inline-block; 
  display: block;
}

/* Header ============================================================== */

header {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Navigation */

/* Mobile only Navigation bar */
.mobile-nav {
  padding: 0 .5rem;
  margin: .75rem 0; 

  /* Vertical alignment solutions */
  /* Fixed parent height solution chosen */
  /* http://phrogz.net/CSS/vertical-align/index.html */
  /* http://jsfiddle.net/techsin/FAwku/1/ */
  line-height: 2em;
}

.mobile-text {
  margin: 0 auto;
}

#mobile-title {
  float: left;
}

/* hamburger-menu icon*/
#hamburger-button {
  /*Set image button to be an image*/
  background: url(../img/ham-menu.svg) no-repeat;
  height: 2rem;
  width: 2rem;
  cursor:pointer;
  border:none;
  
  /* Float right side of screen */
  float: right;
  vertical-align: middle;
  
 
}

/* Eliminate button styling on click */
#hamburger-button:hover  
{   
  cursor:pointer;
  outline: none;
  border:none;
}

#hamburger-button:active
{   
  cursor:pointer;
  outline: none;
  border:none;
}



/* Actual Navigation*/
/* nav tag*/
#main-menu {
  /*display: none;*/
  
  /* Set position to fixed so it'll be on top of other elements */
  position: fixed;

  /* 0, 0 so it'll be in the top left corner*/
  top: 0;
  left: 0;
  
  /* 200 so it'll be on top of all other elements(unless another element has a higher z index*/
  z-index: 200;
  background-color: #67b5d1;

  /* Add 0.3s delay to transform transition*/
  transition: transform 0.3s;
  
  /* Set height/width to 100% of available space */
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  transform: translateX(-100%);
}

#main-menu.is-active {
  transform: translateX(0);
}

.slide-menu ul {

  /* Eliminate styling*/
  list-style: none;
  margin: 0;
  padding: 0;
}

#slide-menu-close {
  color: #fff;
  background-color: #3184a1;
  border: none;
  display: block;
  padding: 12px 24px;
  width: 100%;
}



.slide-menu,
.slide-menu li{
  text-align: center;
  /*border-top: solid 1px #b5dbe9;
  border-bottom: solid 1px #3184a1;*/
}


/* Main content */
.main {
  max-width: 1200px;

  /* Used to center the div inside body */
  margin: 0 auto;
}

/* Image map figure */
figure.fig-bento-image-map {
  margin:0 auto;
  text-align: center;
}

/* figure caption */
figure.fig-bento-image-map figcaption {
  margin-top: 1rem;
}

/* Attribution for image */
figure.fig-bento-image-map cite {
  color: #A3A3A3;
  font-size: .75rem;
}

/* The image the image map is on top of */
img#bento-image {
  /* auto height/width to maintain aspect ratio */
  width: auto;
  height: auto;

  /* 0 margin top/bottom and auto width to center it within it's parent */
  margin: 0 auto;
  /* Set max size for width*/
  max-width: 100vw;
}

/* The Image Map */
#bento-image-map {

}


/* Text Content =========================================================== */
.text-content {
  text-align: center;
}


.content-box cite {
  color: #A3A3A3;
  font-size: .75em;
}


/* Image Gallery */
.bento-figure {
  margin: 0 auto;
}

.bento-figure img{
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
}

.bento-figure figcaption {
  text-align: center;
  padding: 1rem .5rem;
  margin: 0 auto;
}

.bento-figure cite {
  color: #A3A3A3;
  font-size: .75em;
}

/* =Smartphones (portrait and landscape)
--------------------------------------------------------------------------- */
@media only screen
and (min-device-width : 220px) {
  #main-menu {
    width: 80vw;
    /*transform: translateX(-300px);*/
  }
}
 
/* =iPads (portrait and landscape), 2 row gallery layout
--------------------------------------------------------------------------- */
@media only screen
and (min-device-width : 600px) {
  /* The base image for the image map */
  img#bento-image {
    /* auto height/width to maintain aspect ratio */
    width: auto;
    height: auto;

    /* 0 margin top/bottom and auto width to center it within it's parent*/
    margin: 0 auto;
  }
  
  /* Main Menu */
  #main-menu {
    width: 70vw;
    /*transform: translateX(-300px);*/
  }

  /* Image Gallery */
  .bento-figure {
    margin: 0 auto;
    width: 45%;
    float: left;
    margin: 1rem 2.5%;
  }

  .bento-figure img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }

  /*Text Content */
  .text-content {
    margin: 0 2.5%;
  }

}

/* 3 row gallery layout */
@media only screen
and (min-width : 900px) {
  /* Image Gallery */
  .bento-figure {
    /* TODO: fix 3s layout broken*/
    margin: 0 auto;
    width: 31.33%;
    float: left;
    margin: 1rem 1%;
  }

  .content-box {
    margin: 0 auto;
    width: 45%;
    float: left;
    margin: 1rem 2.5%;
  }
}
 
/* =Desktops and laptops
--------------------------------------------------------------------------- */
@media only screen
and (min-width : 1224px) {
  /* The base image for the image map */
  img#bento-image {
    /*Set max size for width*/
    max-width: 1200px;
  }  

  /* Image Gallery */
  .bento-figure {
    margin: 0 auto;
    width: 22.5%;
    float: left;
    margin: 1rem 1.25%;
  }

  /* Content Box */
  .content-box {
    margin: 0 auto;
    width: 31.33%;
    float: left;
    margin: 1rem 1%;
  }
}
 
/* =Large screens
--------------------------------------------------------------------------- */
@media only screen
and (min-width : 1824px) {
  /* The base image for the image map */
  img#bento-image {
    /* Set max size for width*/
    max-width: 1600px;
  }
}