// Import variables
// NOTE TO SELF: MODULARIZE CSS
@import "variables";

body, * {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $white;
}


.clearfix {
  /* Clearfix */
  overflow: hidden;
  display: inline-block; 
  display: block;
}

/* Header ============================================================== */

header {
  max-width: 1200px;
  margin: 0 auto;

  // background color
  background-color: $main;
}

/* Header Navigation */

// Use this to set a max-width for inner elements while having 
// header bar extend the entire screen width
.header-crop {
  // max-width: 1200px;
  // margin: 0 auto;

}

/* Mobile only Navigation bar */
.mobile-nav {
  padding:.75rem .5rem;
  // margin: .75rem 0; 

  /* Vertical alignment solutions */
  /* Fixed parent height solution chosen */
  /* http://phrogz.net/CSS/vertical-align/index.html */
  /* http://jsfiddle.net/techsin/FAwku/1/ */
  line-height: 2em;
  color: $white;
}

.mobile-nav img {
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
  float: left;
  vertical-align: middle;
}

#mobile-title {
    margin: 0 auto;
    float: left;
}

/* hamburger-menu icon*/
#hamburger-button {
  /*Set image button to be an image*/
  // background: url(../img/ham-menu.svg) no-repeat;
  // height: 2rem;
  // width: 2rem;
  margin-top: 4px;
  cursor:pointer;
  // border:none;

  /* Float right side of screen */
  float: right;
  vertical-align: middle;
  
  // Stabalize color to match header bg color
  // and have no extra borders
  background-color: $main;
  border: none;


  // Hamburger menu
  .icon-bar {
    margin: 0 auto 3px;
    background-color: $white;
    display: block;
    width: 22px;
    height: 5px;
    border-radius: 1px;
  }

  /* Eliminate button styling on click */
  &:focus {
    outline: none;
    // Used to make bg the same as header color so color doesnt change to default of white
    background-color: $main;
  }
  &:hover {   
    cursor:pointer;
    outline: none;
    border:none;
  }

  &:active {   
    cursor:pointer;
    outline: none;
    border:none;
    appearance: button;
  }
}

/* Navigation*/

// Desktop Menu
.desktop-menu {
  display: none;
}


/* Mobile Menu */
#main-menu {
  // color
  background-color: $main;
  

  /* Set position to fixed so it'll be on top of other elements */
  position: fixed;

  /* 0, 0 so it'll be in the top left corner*/
  top: 0;
  left: 0;
  
  /* 200 so it'll be on top of all other elements(unless another element has a higher z index*/
  z-index: 200;

  /* Add 0.3s delay to transform transition*/
  transition: transform 0.3s;
  
  /* Set height/width to 100% of available space */
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  transform: translateX(-100%);

  // Show mobile menu on screen after .is-active class is added to it via js event
  &.is-active {
    transform: translateX(0);
  }


  
  // Mobile Menu list styling
  ul {
    /* Eliminate styling*/
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 1rem 0;
    text-align: center;
  }

  // Mobile menu link styling
  li a {
    &:visited,
    &:link {
      color: $white;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: darken($white, 15%);
    }
  }
}

// Styling for slide-menu close button
#slide-menu-close-btn {
  color: #fff;
  background-color: darken($main, 15%);
  border: none;
  display: block;
  padding: 12px 24px;
  width: 100%;
}

/* Main content */
.main {
  max-width: 1200px;
  /* Used to center the div inside body */
  margin: 0 auto;
}

/* Image map figure */
figure.fig-bento-image-map {
  margin:0 auto;
  text-align: center;
}

/* figure caption */
figure.fig-bento-image-map figcaption {
  margin-top: 1rem;
  display: inline-block;
}

/* Attribution for image */
figure.fig-bento-image-map cite {
  color: #A3A3A3;
  font-size: .75rem;
}

/* The image the image map is on top of */
img#bento-image {
  /* auto height/width to maintain aspect ratio */
  width: auto;
  height: auto;

  /* 0 margin top/bottom and auto width to center it within it's parent */
  margin: 0 auto;
  /* Set max size for width*/
  max-width: 100vw;
}

// Quote section

.quote-section {
  
  margin: 0 auto;
  margin-top: 2rem;

  .quote-figure {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
  
  h2 {
    text-align: center;
  }

  img {
    // Center image
    margin:0 auto;
    display: block;
  }

  cite {
    color: #A3A3A3;
    display: block;
    text-align: center;
  }
}


/* Text Content =========================================================== */

.content-box {
  margin: 0 auto;
  background-color: $gray-light;
  margin-top: 2rem;
}

.text-content {
  margin-top: 2rem;
  text-align: center;
}

.content-title {
  color: $black;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: $gray-light;
  // border-bottom: 2px solid $black;
  border-top: 4px solid $main;
}

.content-text {
  background-color: $gray-light;
  padding: .5rem;
  
  min-height: 20rem;

  // Used to make text right below the header text
  p {
    color: $gray-dark;
    margin-top: 0;
  }
}

.content-box cite {
  display: block;
  margin-bottom: 1rem;
  color: #A3A3A3;
  font-size: .75em;
}


/* Image Gallery */

.gallery-title {
  color: $white;
  padding: .5rem;
  background-color: $main;
  width: 100%;
}

.bento-figure {
  margin: 0 auto;
  // overflow: hidden;
}

// Used to set images to static sizes 
.bento-figure-crop {
  display: block;
  height: 9rem;
  // Used so images overflow outside the container(but its hidden) 
  // so aspect raito is maintained
  overflow: hidden;
}

.bento-figure img{
  // Used to center image
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.bento-figure figcaption {
  text-align: center;
  padding: 1rem .5rem;
  margin: 0 auto;
}

.bento-figure cite {
  color: #A3A3A3;
  font-size: .75em;
}


// Footer
footer {
  font-size: .75rem;
  background-color: $main;
  color: $gray-light;
  text-align: center;
  padding: .5rem;
}


/* ======================== Media Queries ================================= */

/* =Smartphones (portrait and landscape)
--------------------------------------------------------------------------- */
@media only screen
and (min-device-width : 220px) {
  #main-menu {
    width: 80vw;
    /*transform: translateX(-300px);*/
  }

  // Bento figures
  .bento-figure-crop {
    min-height: 14rem;
  }

  .bento-figure img {
    position: relative;
    // ITs actually possible to position the crop
    // using top/bottom/left/right + pxs
    // but this has to be done on an individual level per image
    // otherwise the results are varied
  }
}
 
/* =iPads (portrait and landscape), 2 row gallery layout
--------------------------------------------------------------------------- */
@media only screen
and (min-device-width : 600px) {
  /* The base image for the image map */
  img#bento-image {
    /* auto height/width to maintain aspect ratio */
    width: auto;
    height: auto;

    /* 0 margin top/bottom and auto width to center it within it's parent*/
    margin: 0 auto;
  }
  
  /* Main Menu */
  #main-menu {
    width: 70vw;
    /*transform: translateX(-300px);*/
  }

  // Text Content Box
  .content-box {
    max-width: 30rem;
  }

  /* Image Gallery */
  .bento-figure {
    margin: 0 auto;
    width: 45%;
    height: 25rem;
    float: left;
    margin: 1rem 2.5%;
  }

  // Bento figures
  .bento-figure-crop {
    min-height: 14rem;
    // max-height: 16rem;
  }

  .bento-figure img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }


}

/* 3 row gallery layout */
@media only screen
and (min-width : 900px) {
  // Desktop Menu
  .desktop-menu {
    display: block;

    ul {
    /* Eliminate styling*/
    list-style: none;
    margin: 0;
    padding: 0;
    }

    li {
      float: right;
      margin-left: 1rem;
      display: inline-block;
    }
  }

  .desktop-menu li a {
    &:visited,
    &:link {
      color: $white;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: darken($white, 15%);
    }
  }

  // Hamburger menu
  #hamburger-button {
    display: none;
  }


  // info content
  .content-box {
    margin: 0 auto;
    width: 45%;
    float: left;
    margin: 1rem 2.5%;
  }

  /* Image Gallery */
  .bento-figure {
    /* TODO: fix 3s layout broken*/
    margin: 0 auto;
    width: 31.33%;
    float: left;
    margin: 1rem 1%;
  }

  // Bento figures
  .bento-figure-crop {
    min-height: 12rem;
    // max-height: 16rem;
  }
}
 
/* =Desktops and laptops
--------------------------------------------------------------------------- */
@media only screen
and (min-width : 1224px) {
  /* The base image for the image map */
  img#bento-image {
    /*Set max size for width*/
    max-width: 1200px;
  }  

  /* Image Gallery */
  .bento-figure {
    margin: 0 auto;
    width: 22.5%;
    float: left;
    margin: 1rem 1.25%;
  }

  /* Content Box */
  .content-box {
    margin: 0 auto;
    width: 31.33%;
    float: left;
    margin: 1rem 1%;
  }
}
 
/* =Large screens
--------------------------------------------------------------------------- */
@media only screen
and (min-width : 1824px) {
  /* The base image for the image map */
  img#bento-image {
    /* Set max size for width*/
    max-width: 1600px;
  }
}