
// Typography
$font-style   : normal;
$font-variant : normal;
$font-weight  : normal;
$font-color   : #222;
$font-size    : 1rem;
$line-height  : 1.5;
$font-family  : Helvetica Neue, Helvetica, Arial, sans-serif;

// Colors
$main       : #CD3C2E;
$main-light : #67201B;
$black      : #0F0D09;
$light      : #DEDED7;
$light-dark : #B7C1AD;
$white      : #FCFCF4;