
// Typography
$font-style   : normal;
$font-variant : normal;
$font-weight  : normal;
$font-color   : #222;
$font-size    : 1rem;
$line-height  : 1.5;
$font-family  : Helvetica Neue, Helvetica, Arial, sans-serif;

// Colors
$main       : #DF2935;
$main-light : #67201B;
$secondary  : #464655;
$dark       : #3A3335;
$black      : #0F0D09;
$light      : #F6F7EB;
$light-dark : #94958B;
$white      : #FFF;
$gray-light : #f8f8f8;
$gray-dark  : #666666;

// $main       : #CD3C2E;
// $main-light : #67201B;
// $black      : #0F0D09;
// $light      : #DEDED7;
// $light-dark : #B7C1AD;
// $white      : #FCFCF4;

